* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
}

body {
    min-height: 95vh;
    display: grid;
    place-content: center;
    background-color: hsl(204, 43%, 93%);
}


.wrap {
    border: 1px solid transparent;
    margin-right: 25rem;
    margin-left: 25rem;
    

}

.wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left; 
    border: 1px solid transparent;

    
}

.wrapper2 {
    display: flex;
    justify-content: center;
    text-align: left;

    
}

.topcard {
    
    background-color: white ; 
    padding: 3rem;
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    
}


#top-h1 {
    color: hsl(179, 62%, 43%);
    
    font-family: Karla;
    font-weight: 700;
}

#top-h2 {
    color: hsl(71, 73%, 54%);
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: Karla;
    font-weight: 700;
}

#top-p {
    color: hsl(206, 4%, 66%);
    
    font-family: Karla;
    font-weight: 400;
}


.leftcard {
   
    background-color: hsl(179, 62%, 43%);
    border: 2px solid transparent;
    flex-basis: 100%;
    border-bottom-left-radius: 8px;
    padding: 2rem 4rem 2rem 2rem;
    
}

#left-h1 {
    color: white;
    padding: 1rem;
    font-family: Karla;
    font-weight: 700;
    font-size: large;

}

#left-p{
    color: white;
    padding-left: 1rem;
    padding-top: 0.8rem;
    font-family: Karla;
    font-weight: 400;
    font-size: medium;

}

#dollar {
    font-family: 'karla', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 25px;
    padding: 0.5rem;
    padding-left: 1rem;

}

#per-month {
    color: hsl(204, 43%, 93%);
    font-family: Karla;
    font-weight: 400;
    vertical-align: middle;
    
}

button {
    margin-left: 1rem;
    margin-top: 1.5rem;
    height: 3rem;
    width: 15rem;
    border-radius: 8px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-weight: 700;
    font-family: Karla;
    border: 1px solid transparent;
    box-shadow: 0px 10px 15px -3px rgb(0, 0, 0, 0.2);
}


.rightcard {
    
    background-color: hsl(179, 43%, 59%);
    border: 2px solid transparent;
    flex-basis: 100%;
    border-bottom-right-radius: 8px;
    padding: 2rem 4rem 2rem 2rem;
    
}

#right-h1{
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: Karla;
    font-weight: 700;
    font-size: large;
}

#right-p{
    color: hsl(200, 46%, 88%);
    padding: 1rem;
    font-family: Karla;
    font-weight: 400;
    font-size: medium;

}

